.row{   

    background-color:black;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:40px;
    margin-top:5px;
    margin-bottom:5px;
    display: flex;
    justify-content: center;
}

#AboutMeHeader {
  display:flex;
  justify-content: center;
  font-size:100px;
  margin-top: 10px;
}
.CenterTxt {
  display:flex;
  justify-content: center;
}
